# SQL Database Configuration.
postgres = {

  # The JDBC URL.
  url = "jdbc:postgresql:users"
  url = ${?TEMPLATE_DATABASE_URL}

  # Username to connect to the database.
  user = "postgres"
  user = ${?TEMPLATE_DATABASE_USER}

  # Password to connect to the database.
  password = "postgres"
  password = ${?TEMPLATE_DATABASE_PASSWORD}

}

server = {
  host = "localhost"
  host = ${?TEMPLATE_SERVER_HOST}
  
  port = 8080
  port = ${?TEMPLATE_SERVER_PORT}
}